body {
  margin: 0;
}
.wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
  color: white;
}
.site-logo {
  padding: 20px 16px;
  line-height: 1px;
}
.gnav {
  background-color: rgb(71, 71, 71);
  width: 100%;
  font-size: 14px;
}
.gnav ul {
  display: flex;
  margin: 0%;
  border-color: black;
}
.gnav li {
  padding: 10px 60px 10px 0;
}
